@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url(./res/bk.jpg);
}

.nav {
  display: flex;
  justify-content: center;
  background: black;
  color: white;
  padding: 40px;
}
span {
  color: red;
}

.wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 40px;
  border-radius: 40px;
  width: 800px;
  border: 2px solid black;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.wrapper .topic1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.wrapper .topic1 h2 {
  text-align: center;
  padding: 10px;
}

.wrapper .topic1 img {
  margin: auto;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.wrapper .topic1 p {
  text-align: center;
  margin-top: 15px;
}

.wrapper .topic1 a:hover {
  background: lightgreen;
  transform: scale(1.1);
  box-shadow: 0 0 15px #000000;
}

.wrapper .topic1 a {
  text-decoration: none;
  color: black;
  background: #fff;
  padding: 5px;
  transition: 0.5s;
  border-radius: 40px;
  font-weight: 400;
  font-size: large;
}

footer p {
  text-align: center;
  margin-top: 30px;
}


@media only screen and (max-width: 820px) {
  .wrapper{
    width: 400px;
  }
}

